---
import SectionContainer from "../../components/SectionContainer.astro";
import SwiperProject from "../../components/SwiperProject.astro";
import Layout from "../../layouts/Layout.astro";
import BLOGS from "../../utils/Blogs.ts";

export function getStaticPaths() {
  const paths = BLOGS.map((blog) => ({
    params: { blog: blog.slug },
  }));
  console.log("Generated paths:", paths);
  return paths;
}

const { blog } = Astro.params;
const currentProject = BLOGS.find((p) => p.slug === blog);

if (!currentProject) {
  throw new Error(`No se encontró el proyecto "${blog}"`);
}
---

<Layout
  title={currentProject.metaTitle}
  description={currentProject.metaDescription}
>
  <SectionContainer class="flex flex-col xl:flex-row gap-6 mt-3">
    <div>
      <h1 class="mb-2 text-2xl sm:text-3xl font-bold">
        {currentProject.title}
      </h1>
      <div class="flex gap-20">
        <p>{currentProject.date}</p>
        <p class="flex items-center gap-2">
          {currentProject.iconCountry.map((Flag, index) => (
            <Flag key={index} />
          ))}
          {currentProject.country}
        </p>
      </div>
      <hr class="my-4" />
      <p class="mb-6 text-base xl:text-lg">{currentProject.description}</p>
    </div>
    <SwiperProject imageList={currentProject.images} />
  </SectionContainer>
  <SectionContainer>
    <div>
      <h2 class="text-xl sm:text-2xl mt-4 mb-6 font-bold text-center">
        Ver más proyectos
      </h2>
    </div>
  </SectionContainer>
</Layout>
