---
import { EXPERIENCE } from "../utils/Experience";
import ArrowRight from "../icons/ArrowRight.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer class="lg:w-[50%] mx-auto">
  <h2 class="text-xl mt-4 mb-6 font-bold">Experiencia</h2>
  <ol class="relative border-s border-gray-200">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="mb-12 ms-4 ml-5 flex justify-start">
          <div class="absolute w-3 h-3 bg-gray-400 rounded-full mt-1.5 -start-1.5 border border-white" />
          <div class="flex flex-row gap-6">
            <div class=" flex flex-col">
              <time class="mb-1 text-sm font-normal leading-none text-gray-500">
                {experience.date}
              </time>
              <h3 class="max-w-max text-lg font-semibold ">
                {experience.title}
              </h3>
              <p class="mb-2 flex items-center gap-2 italic">
                <experience.icon /> {experience.ubication}
              </p>
              <p class="mb-4 text-base font-light">
                {experience.description}
              </p>
              {experience.linkTitle || experience.linkURL ? (
                <a
                  href={experience.linkURL}
                  target="_blank"
                  class="w-max mb-4 inline-flex items-center px-4 py-2 text-sm font-medium bg-white border border-gray-200 rounded-lg hover:bg-gray-100 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 hover:scale-105 transition-transform"
                >
                  {experience.linkTitle}
                  <ArrowRight />
                </a>
              ) : (
                ""
              )}
              {experience.image ? (<img src={experience.image} width="700" class="max-w-full"/>): ""}
            </div>
          </div>
        </li>
      ))
    }
  </ol>
</SectionContainer>
