---
import PROJECTS from "../utils/Projects";
import Postpost from "./PostCard.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer>
  <h2 class="text-xl sm:text-2xl mb-6 font-semibold">Proyectos</h2>
  <div class="flex flex-row flex-wrap gap-8 justify-between">
    {
      PROJECTS.map((project) => (
        <Postpost
          img={project.images[0].src[0]}
          country={project.country}
          date={project.date}
          title={project.title}
          description={project.description}
          slug={project.slug}
        />
      ))
    }
  </div>
</SectionContainer>
